<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("1159d58e-98f5-4974-8fbf-f95425efd67b");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
